
.avatarWrapper{
  width: 272px;
}
.avatarWrapper img {
  height: 200px;
  width: 200px;
}

.shapeBottomWrapper{
  width: 100%;
  overflow: hidden;
}
.shapeBottomWrapper svg{
  display: block;
  width: 102%;
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.shapeBottomWrapper svg path{
  fill: #7c3aed;
}